<h3> Enter a new Task </h3>

<form action="/tasks" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="task-name">


  <label for="address">Description: </label>
  <input type="text" name="task[description]" id="task-description">

  <input name="authenticity_token" id="token-input" type="hidden" value="token_value">
  <input type="submit">

</form>

