<h3> Testing if show html is working well </h3>

<h3> Task Name: <%= @task.name %> </h3>
<h3> Task Description: <%= @task.description %> </h3>
<h3> Is it done already?: <%= @task.done %> </h3>

<%= link_to "Back to task list", tasks_path %>
